# Submit your review here 

https://forms.gle/TGMsr5XeHRpehM3D9 

Remember, there are usually MANY ways to achieve things programatically.

# ASGN 01

I'm going to use this to explore writing python code, Markdown text blocks, and (possibly) more.

Remember, there are usually MANY ways to achieve things programatically.

There is a simple csv file in the data subfolder of the repo. 

## Q1. Load it and print the first 5 rows. 

## Q2. What is the average alcohol content

In [1]:
# work on the exercise prompt here

import pandas as pd
# i have to use this given my folder structure:
wine = pd.read_csv('../data/wine.csv')
# but students will use this:
# wine = pd.read_csv('data/wine.csv')
wine.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [2]:
# work on the exercise prompt here

wine.Alcohol.mean()

13.000617977528083

## Q3. Function #1
Write a function that takes a string as an argument and returns the number of capital letters in the string

In [3]:
def count_capitals(inString):
    # work on the exercise prompt here
    return sum([letter == letter.upper() for letter in inString if letter.isalpha()])

print(count_capitals('Go Tigers!')) # leave this, it's a test unit
print(count_capitals('Hail to the Victors Valiant!')) # leave this, it's a test unit
print(count_capitals("LET'S GO DEVILS!")) # leave this, it's a test unit

2
3
12

## Q4. Function #2

Write a function that takes two sequences, `seq1` and `seq2`, as arguments and returns the number of distinct elements in both. By "sequence" we mean a list, a tuple or a string.

For example: "ABC" and "BBC" would return 2 ("B" and "C" are in each).

Do not count duplicates!

In [4]:
def sequence_overlap_count(seq1,seq2):
    # work on the exercise prompt here
    return sum([item in set(seq2) for item in set(seq1)])

print(sequence_overlap_count((1,2,3),[1,2,3])) # leave this, it's a test unit
print(sequence_overlap_count('hey there','batter up')) # leave this, it's a test unit
print(sequence_overlap_count('j',['jet','sweep'])) # leave this, it's a test unit. answer should be 0.

3
4
0

## Q5. Function #3
Write a function that counts how many of the pairs have two even numbers.

In [5]:
def both_even(list_of_pairs):
    # work on the exercise prompt here
    return sum([a%2==0 and b%2==0 for a,b in list_of_pairs])
    
pairs = ((2, 5), (4, 2), (9, 8), (12, 10)) # leave this, it's a test unit
both_even(pairs) # leave this, it's a test unit

2

## Q6. Function #4

Given a list, return the sublist where each element is divisible by 3. You must
- Use a for-loop
- Use an if-else block

In [6]:
def mod_3_sublist(inList):
    # work on the exercise prompt here
    ans=[]
    for num in inList:
        if num%3==0:
            ans.append(num)
    return ans
    
practice = list(range(1, 100, 7))
mod_3_sublist(practice) # leave this, it's a test unit

[15, 36, 57, 78, 99]

Optional advanced version (no credit): Can you do that without the for-loop and if-else block?

In [7]:
def mod_3_sublist(inList):
    # work on the exercise prompt here
    return [num for num in inList if num%3==0]
    
practice = list(range(1, 100, 7))
mod_3_sublist(practice) # leave this, it's a test unit

[15, 36, 57, 78, 99]

## Q7. What is the...
...sum of the last 5 elements of `list(range(0,100,3))`?

In [8]:
# work here

mylist = list(range(0,100,3))
print(sum(mylist[-5:]))

465

## Q8. What is the...
...sum of the odd numbered element (where the index is odd, not necessarily the content of the element) of  `list(range(0,100,3))`?

In [9]:
mylist = list(range(0,100,3))
print(sum(mylist[1::2]))

867

## Q9. The next cell is Markdown, but it should be python. 

Convert it, then execute it.

In [10]:
for i in range(4,10): 
    print(i)

4
5
6
7
8
9

## Q10. 

Save this to a csv file, and call it "temp.csv". The file should be six lines long.

In [11]:
an_intermediate_dataset = [['team','opinion'],
                          ['eagles','good'],
                          ['cowboys','trash'],
                          ['giants','double trash'],
                          ['patriots','most trash'],
                          ['lions','who cares-super irrelevant']]

an_interm_df = pd.DataFrame(an_intermediate_dataset[1:],
             columns=an_intermediate_dataset[0])
an_interm_df.to_csv('temp.csv', index=False)